@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
}

@theme {
  --font-sans: "Hind Siliguri", ui-sans-serif, system-ui, sans-serif;
  --font-signature: "Alex Brush", cursive;
}


